@model MvcMovies.Models.Views.MovieViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Delete"];
    ViewData["Edit"] = Localizer["Edit"];
    ViewData["Back"] = Localizer["Back"];
    ViewData["Delete"] = Localizer["Delete"];
    ViewData["Confirmation"] = Localizer["Confirmation"];
    ViewData["Movie"] = Localizer["Movie"];
}

<h2>@ViewData["Confirmation"]</h2>

<div>
    <h4>@ViewData["Movie"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a asp-action="DeleteConfirmation" asp-route-id="@Model.ID" class="btn btn-default">@ViewData["Delete"]</a>
            </div>
        </div>
</div>