@model MvcMovie.Models.Views.MovieViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details"];
    ViewData["Edit"] = Localizer["Edit"];
    ViewData["Back"] = Localizer["Back"];
    ViewData["Details"] = Localizer["Details"];
    ViewData["Movie"] = Localizer["Movie"];
}

<h2>@ViewData["Details"]</h2>

<div>
    <h4>@ViewData["Movie"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">@ViewData["Edit"]</a> |
    <a asp-action="Index">@ViewData["Back"]</a>
    <a asp-action="AddComment" asp-route-id="@Model.ID">Comment</a>
</div>
