@model MvcMovie.Models.Views.MovieViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Details"];
    ViewData["Edit"] = Localizer["Edit"];
    ViewData["Back"] = Localizer["Back"];
    ViewData["Details"] = Localizer["Details"];
    ViewData["Movie"] = Localizer["Movie"];
}

<h2>@ViewData["Details"]</h2>

<div>
    <h4>@ViewData["Movie"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt>    
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
@foreach (var item in Model.Comments) {
    <tr>
        <td>
            <label>Comment: </label>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <br />
        <td>
            <label>Date: </label>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <br />
        <td>
            <label>Rate: </label>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <br />
        <br />
    </tr>
}
<!-- @using (Html.BeginForm("AddComment", "Movies", FormMethod.Post)){
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ReleaseDate)
    <br />
    <label>Comment:</label>
    <br />
    @Html.TextAreaFor(model => model.NewComment.Text, new { @class = "form-control" })  
    <br />
    <label>Rate the Movie</label>
    @Html.TextBoxFor(model => model.NewComment.Rating, new { @class = "form-control"  })
    <br />
    <input type="submit" value="Add" class="btn btn-default" />
} -->

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">@ViewData["Edit"]</a> |
    <a asp-action="Index">@ViewData["Back"]</a>
</div>
@section Scripts{
    <!-- <script>
    $(document).ready(function (e)){
        function AddNewComment(){
            $.ajax({
                type: "POST",
                url: "/Movies/AjaxAddComment",
                data: '{ID: ' + $("@Model.ID") + ' }',
                contentType: "application/json",
                dataType: "json",
                success: funtion (json) {
                    $('#TestComment').val](json)
                },
                failure: funcion(response) {
                    alert('error');
                    $('#TestComment').val("Fallo")
                },
                error: function(response) {
                    alert("error");
                    $('#TestComment').val("Error");
                }
            });
        }

    }
    </script> -->
    <script>
    $('#btnPost').on('click', function () {
    $.ajax({
        type: "POST",
        url: "Movies/AddComment",
        contentType: "application/json",
        dataType: "json",
        succes: funcion(response){
            var dvItems = $("#dvItems");
            dvItems.empty();
            $.each(response, function(i, item){
                var $tr = $('<li>').append(item).appendTo(dvItems);
            });
        },
        failure: function(response){
            alert(response);
        }
    });
    }
    </script>
}