@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["HomePage"];
    ViewData["Create"] = Localizer["Create"];
    ViewData["PageTitle"] = Localizer["PageTitle"];
    ViewData["Edit"] = Localizer["Edit"];
    ViewData["Details"] = Localizer["Details"];
    ViewData["Delete"] = Localizer["Delete"];
}

@model IEnumerable<MvcMovies.Models.Views.MovieViewModel>

<h2>@ViewData["PageTitle"]</h2>

<p >
    <a asp-action="Create"> @ViewData["Create"] </a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.ID">@ViewData["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.ID">@ViewData["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">@ViewData["Delete"]</a> 
            </td>
        </tr>
}
    </tbody>
</table>